*{
    margin: 0;
    padding: 0;
}
.sky{
    background: url(../img/sky.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.road{
    background: url(../img/road.jpg);
    height: 25vh;
    width: 500%;
    position: absolute;
    top: 75vh;
    display: block;
    animation-name: road;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-repeat: repeat-x;
}

@keyframes road{
100%{
    transform:translateX(-3400px);
}
}

.city{
    background-image: url(../img/city.png);
    position: absolute;
    top: 43vh;
    height: 200px;
    width: 500%;
    background-repeat: repeat-x;
    animation-name: city;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes city {
    100%{
        transform: translateX(-1400px);
    }
}

.car {
    position: absolute;
    top: 65vh;
    left: 31vw;
    animation: shake 1.5s linear  infinite
}
.car img {
    height: 200px;
    
    
}

.wheel1 {
    position: relative;
    top: -104px;
    left: 62px;
    }
.wheel1 img {
height: 57px;
animation: wheel 0.7s linear  infinite ;

}
.wheel2 {
    position: relative;
    top: -164px;
    left: 285px;

}
.wheel2 img {
height: 57px;
animation: wheel 0.7s linear  infinite ;

}

@keyframes wheel {
    100%{
        transform: rotate(360deg);
    }
}



@keyframes shake {
0%{
    transform: translateY(-1.5px);
}
50%{
    transform: translateY(1.5px);
}
100%{
    transform: translateY(-1.5px);
}
}

.head{
    text-align: center;
    color: yellow;
    background-color: rgb(72, 72, 246);
    display: inline;
    position: absolute;
    left: 29vw;
    top: 15vh;
    font-size: 4rem;
    
}


